<html>
    <head>

        <title>Input - Fwibisono's VidDownloader</title>

    </head>

    <div>
        <body >
             {% include 'includes/_header.html' %}
             <h2 style="text-align: left;">Input Video Link</h2>
             <div>
                 <hr/>
                    <p>Insert your link in the space below:</p>
             </div>
             <hr/>
             <div>
              <pre>
                 <form action="/inres" method="POST">
                     URL        :<input type="text" name = "URL"><br><br>
                     <hr/>
                    <input type = "submit" value="Submit">
                 </form>
                  <p>Please allow for up to 2 minutes for the server to prepare your download</p>
              </pre>
            </div>
        </body>
    </div>

</html>
